@font-face {
  font-family: "Grotesque";
  src: url(./assets/font/DarkerGrotesque-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(./assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-bold";
  src: url(./assets/font/Lato-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgb(63, 6, 6);
  font-family: Grotesque, cursive;
  color: #f3e0dc;
  width: 80%;
  margin: 0 auto;
  border-left: 2px solid #d4a59a;
  border-right: 2px solid #d4a59a;
  transition: 0.2s ease;
}
@media screen and (max-width: 850px) {
  body {
    width: 100%;
  }
}

li {
  list-style: none;
}

.more {
  cursor: pointer;
  font-weight: 700;
}

.more:hover {
  color: #4285f4;
  font-weight: 900;
}

.header {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10% 90%;
  align-items: center;
  background-color: #bc4639;
  z-index: -10;
}
@media screen and (max-width: 660px) {
  .header {
    grid-template-rows: 1% 99%;
  }
}
.header nav {
  padding: 20px;
  position: relative;
  z-index: 1;
}
.header ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: Grotesque, cursive;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 3px;
  font-stretch: expanded;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  .header ul {
    font-size: 1rem;
  }
}
@media screen and (max-width: 660px) {
  .header ul {
    display: none;
  }
}
.header li {
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
}
.header li:hover {
  color: #3f0606;
  background: rgba(66, 134, 244, 0.8352941176);
  border-radius: 10px;
}
.header .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.header .header-container h2 {
  font-family: Grotesque, cursive;
  font-size: 4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  .header .header-container h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 660px) {
  .header .header-container h2 {
    font-size: 1.4rem;
  }
}
.header .header-container h1 {
  mix-blend-mode: screen;
  font-family: Lato-bold, cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 6rem;
}
@media screen and (max-width: 1100px) {
  .header .header-container h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 660px) {
  .header .header-container h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .header .header-container h1 {
    font-size: 2rem;
  }
}
.header .header-container p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #d4a59a;
  transform: translateX(100px);
}
@media screen and (max-width: 660px) {
  .header .header-container p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .header .header-container p {
    font-size: 1rem;
    transform: translateX(0);
  }
}
.header .header-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: url("./assets/img/fond.png") no-repeat center;
  z-index: -8;
}
.header .header-container::after {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: rgba(66, 134, 244, 0.8352941176);
  border-radius: 500px;
  z-index: -2;
}

.section1 {
  background-color: #bc4639;
  padding: 80px 20px 80px;
}
.section1 .section1-container {
  position: relative;
  background-color: #bc4639;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}
@media screen and (max-width: 850px) {
  .section1 .section1-container {
    width: 100%;
  }
}
.section1 .section1-left-container {
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  border-top: 1px solid #f3e0dc;
  border-bottom: 1px solid #f3e0dc;
}
@media screen and (max-width: 850px) {
  .section1 .section1-left-container {
    width: 100%;
  }
}
.section1 .section1-left-container h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.section1 .section1-left-container h3 {
  letter-spacing: 2px;
}
.section1 .section1-left-container p {
  z-index: 20;
  padding: 20px;
}
.section1 .section1-left-container span {
  cursor: pointer;
  color: #3f0606;
  font-family: Lato-bold, cursive;
}
.section1 .section1-right {
  padding: 10px;
}
.section1 .section1-right img {
  width: 100%;
  border-radius: 500px;
}
@media screen and (max-width: 660px) {
  .section1 .section1-right img {
    display: none;
  }
}

.section2 {
  position: relative;
  background-color: #bc4639;
  padding-bottom: 160px;
  z-index: 1;
}
.section2 .section2-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  box-shadow: 1px 1px 4px #4285f4;
  background: rgba(243, 224, 220, 0.6039215686);
  border-radius: 15px;
}
@media screen and (max-width: 1100px) {
  .section2 .section2-container {
    width: 90%;
  }
}
.section2 .nav-section2 {
  display: flex;
  border-radius: 15px 15px 0px 0px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #3f0606;
  background-color: #f3e0dc;
  letter-spacing: 2px;
}
.section2 .menu {
  text-transform: uppercase;
  font-family: Lato-bold, cursive;
  color: #3f0606;
  width: 30%;
}
@media screen and (max-width: 650px) {
  .section2 .menu {
    display: none;
  }
}
.section2 ul {
  font-size: 1rem;
  display: flex;
  width: 70%;
  justify-content: space-around;
  font-family: Lato-bold, cursive;
  color: #3f0606;
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
  .section2 ul {
    font-size: 0.8rem;
  }
}
.section2 li {
  cursor: pointer;
  font-family: Lato-Regular, cursive;
  padding: 15px;
}
.section2 li:hover {
  color: #4285f4;
  font-weight: 800;
  background-color: #3f0606;
}
.section2 li:active {
  color: #4285f4;
  background-color: #3f0606;
}
.section2 .dish-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding: 20px;
}
@media screen and (max-width: 650px) {
  .section2 .dish-section2 {
    grid-template-columns: 1fr;
  }
}
.section2 .dishCard {
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 10px;
  background: #3f0606;
  border: 1px solid #4285f4;
  height: 180px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 1px 1px 4px #4285f4;
}
.section2 .dishCard:hover {
  background: #4285f4;
  box-shadow: 2px 2px 4px #3f0606;
}
.section2 .dishCardLeft {
  border-radius: 10px 0 0 10px;
}
.section2 .dishCardRight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.section2 .dishCardRight h4,
.section2 .dishCardRight h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
@media screen and (max-width: 1100px) {
  .section2 .dishCardRight h4,
  .section2 .dishCardRight h3 {
    font-size: 1rem;
  }
}
.section2 .dishCardRight p {
  padding: 15px;
}
.section2 #popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(243, 224, 220, 0.6862745098);
  z-index: 3px;
  align-items: center;
  justify-content: center;
}
.section2 #popup-bg.active {
  display: flex;
}
.section2 #popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius: 10px;
  border: 2px solid #3f0606;
  background: rgb(63, 6, 6);
  background: linear-gradient(0deg, rgb(63, 6, 6) 0%, rgb(63, 6, 6) 31%, rgb(66, 133, 244) 99%);
  padding: 40px;
}
.section2 #popup-content #popup-info {
  display: flex;
  flex-direction: column;
}
.section2 #popup-content h3 {
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 3px;
  font-size: 2rem;
  color: #f3e0dc;
}
.section2 #popup-content p {
  color: #d4a59a;
  font-size: 1.4rem;
}
.section2 #popup-content h4 {
  padding: 15px;
  font-size: 1.1rem;
}
.section2 #popup-content button {
  text-decoration: none;
  background: none;
  padding: 15px;
  color: #d4a59a;
  background: #4285f4;
  cursor: pointer;
}
.section2 #popup-img {
  height: auto;
}
.section2 #popup-close {
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.section2 #popup-close:hover {
  background-color: #bc4639;
}

.section3 {
  position: relative;
  background-color: #bc4639;
  padding-bottom: 160px;
  z-index: 0;
}
.section3 .section3-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  box-shadow: 1px 1px 4px #4285f4;
  background: rgba(243, 224, 220, 0.6039215686);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #3f0606;
}
@media screen and (max-width: 1100px) {
  .section3 .section3-container {
    width: 90%;
  }
}
.section3 .section3-container .section3-container-bottom #tableau {
  width: 90%;
  margin: 0 auto;
}
.section3 .section3-container .section3-container-bottom #tableau .imagemini {
  border-radius: 500px;
}

.section4 {
  position: relative;
  background-color: #bc4639;
  padding-bottom: 160px;
  z-index: 0;
}
.section4 .section4-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  box-shadow: 1px 1px 4px #4285f4;
  background: rgba(243, 224, 220, 0.6039215686);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 60vh;
}
@media screen and (max-width: 1100px) {
  .section4 .section4-container {
    width: 90%;
  }
}
.section4 .section4-left-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #3f0606;
  border-right: 1px solid #3f0606;
  height: 100%;
  margin: auto 0;
}
.section4 .section4-left-container .info {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section4 .section4-left-container .info h3 {
  text-transform: uppercase;
}
.section4 .section4-left-container div {
  display: flex;
  flex-direction: column;
}
.section4 #maCarte {
  height: auto;
  border-radius: 0 15px 15px 0;
}

.section5 {
  position: relative;
  background-color: #bc4639;
  padding-bottom: 160px;
  z-index: 0;
}
.section5 .section5-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  box-shadow: 1px 1px 4px #4285f4;
  background: rgba(243, 224, 220, 0.6039215686);
  border-radius: 15px;
}
@media screen and (max-width: 1100px) {
  .section5 .section5-container {
    width: 90%;
  }
}
.section5 .section5-container h2 {
  border-radius: 15px 15px 0 0;
  text-transform: uppercase;
  border-bottom: 1px solid #3f0606;
  background-color: #f3e0dc;
}
.section5 form {
  width: 90%;
  margin: 0 auto;
  gap: 0 30px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}
.section5 label {
  font-size: 1.2rem;
  font-weight: 600;
}
.section5 .inputCss {
  border: 1px solid #4285f4;
  background: #f3e0dc;
  margin: 7px 0 7px;
  height: 36px;
  border-radius: 9px;
  box-shadow: 0 1px 2px #4285f4;
  width: 100%;
  font-family: Grotesque, cursive;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  transition: 0.2s;
  outline: none;
}
.section5 .inputCss:focus {
  box-shadow: 0 1px 2px #3f0606;
}
.section5 input[type=submit] {
  background: #d4a59a;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.section5 input[type=submit]:hover {
  background: #4285f4;
}
.section5 span {
  margin-bottom: 20px;
  display: block;
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  color: red;
}
.section5 #security span {
  display: inline;
}
.section5 .error input {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.527);
}
.section5 .error span {
  visibility: visible;
  opacity: 1;
  color: red;
}/*# sourceMappingURL=index.css.map */