.section3 {
  @include section;
  z-index: 0;

  .section3-container {
    @include container;
    display: flex;
    flex-direction: column;
    color: $color2;

    .section3-container-bottom {
      #tableau {
        width: 90%;
        margin: 0 auto;

        .imagemini {
          border-radius: 500px;
        }
      }
    }
  }
}
