.section4 {
  @include section;
  z-index: 0;

  .section4-container {
    @include container;
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 60vh;
  }
  .section4-left-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $color2;
    border-right: 1px solid $color2;
    height: 100%;
    margin: auto 0;
    .info {
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h3 {
        text-transform: uppercase;
        // border-bottom: 1px solid $color2;
      }
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
  #maCarte {
    // position: relative;
    height: auto;
    // z-index: 10000;
    border-radius: 0 15px 15px 0;
  }
}
